{% extends '@EasyAdmin/default/show.html.twig' %}


        {% block main %}
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/data.js"></script>
                <script src="https://code.highcharts.com/modules/drilldown.js"></script>
                <script type="text/javascript">
                    {{ chart(scenesCost) }}
                    {{ chart(locationsCost) }}
                    {{ chart(rolesCost) }}
                </script>
                <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h5>{% trans %} Directors {% endtrans %}</h5>
                                                        <h3>2</h3>
                                                </div>
                                                <div class="col-md-12 col-lg-6">
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h5>{% trans %}Locations {% endtrans %}</h5>
                                                        <h3>424,892</h3>
                                                </div>
                                                <div class="col-md-12 col-lg-6">

                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h5>{% trans %}Scenes{% endtrans %}</h5>
                                                        <h3>424,892</h3>
                                                </div>
                                                <div class="col-md-12 col-lg-6">

                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h5>{% trans %}Roles{% endtrans %}</h5>
                                                        <h3>424,892</h3>
                                                </div>
                                                <div class="col-md-12 col-lg-6">

                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <div class="well" id="scenesCost">
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm-6">
                                <div class="well" id="locationsCost">

                                </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="well" id="rolesCost">

                                </div>
                        </div>
                </div>

            {% endblock %}